/* ========================================
 * Base Styles
 * 전역 기본 스타일 정의
 * ======================================== */

* {
  font-family: Pretendard;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  background-color: var(--gray-50);
}

