button {
  cursor: pointer;
}
#content:has(.content-inner-chat) {
  padding-top: 32px;
  padding-bottom: 0;
  height: calc(100dvh - 32px);
}
.content-inner.content-inner-chat {
  position: relative;
  width: calc(100% - 160px);
  gap: 0;
}
.content-inner.content-inner-chat:after {
  content: "";
  position: fixed;
  left: 300px;
  right: 0;
  bottom: -400px;
  display: block;
  margin: 0 auto;
  width: 1160px;
  height: 480px;
  background: linear-gradient(to top, #fe82c3, #2cb4be);
  transform: rotate(4.25deg);
  opacity: 0.2;
  border-radius: 50%;
  filter: blur(160px);
}

/* chat input area */
.box-chat-input-wrapper {
  position: fixed;
  bottom: 32px;
  width: 100%;
  max-width: 1140px;
  left: 300px;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-0);
  border-radius: 16px;
  box-shadow: 0 0 10px #2f3e441a;
  z-index: 10;
}
/* chat icons */
.btn-chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-color: var(--gray-100);
}
.icon-chat {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.icon-chat.icon--gemini {
  background-image: url(../images/icon_chat_gemini.png);
}
.icon-chat.icon--gpt {
  background-image: url(../images/icon_chat_gpt.png);
}
.icon-chat.icon--claude {
  background-image: url(../images/icon_chat_claude.png);
}
.icon-chat.icon--exaone {
  background-image: url(../images/icon_chat_exaone.png);
}
.box-chat__attatch {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding: 10px 10px 16px;
}
.box-chat__attatch:not(:has(*)) {
  padding: 0;
}
.box-chat__input {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 6px;
}
.box-chat__input .input {
  flex: 1;
  border: none;
  margin-top: 4px;
  padding: 0;
}
.box-chat__input .input-chat::placeholder {
  color: var(--gray-400);
}
.box-chat_utils {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-top: 1px solid var(--gray-200);
}
.box-chat_utils .divider {
  width: 1px;
  height: 20px;
  background-color: #e8eaf1;
}

/* button */
.btn-chat {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 6px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 20px;
  color: var(--primary-700);
  background-color: var(--primary-100);
  border: 1px solid var(--primary-100);
  transition: border-color 0.35s ease-in, background-color 0.35s ease-in,
    color 0.35s ease-in;
}
.btn-chat.active,
.btn-chat:hover {
  border-color: var(--primary-700);
}

/* chip */
.chat-chip {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 4px 6px 8px;
  border-radius: 8px;
  font: var(--body-xs);
  border: 1px solid var(--gray-200);
  background-color: var(--gray-0);
}
.chat-chip__image {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  box-shadow: 2px 2px 10px #22617b14;
}
.chat-chip__image.chat-chip__large {
  width: 200px;
  height: 200px;
}
.chat-chip__image img {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat-chip__image .btn {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
}
.chat-chip__image.chat-chip__large .btn {
  top: 12px;
  right: 12px;
}
.chat-chip__file {
  display: flex;
}
.chat-chip__file .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.box-chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding-bottom: 300px;
  max-width: 1140px;
  width: 100%;
}
.box-chat-wrapper.chat-greet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  height: calc(100% - 32px - 218px);
}
.box-chat-wrapper.chat-greet .icon--greet {
  width: 118px;
  height: 118px;
  background-color: transparent;
  background-image: url(../images/icon_greet.png);
}
.box-chat-wrapper.chat-greet .tit-greet {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: var(--primary-700);
}
.box-chat-wrapper.chat-greet .text-greet {
  font-size: 18px;
  line-height: 1.4;
  color: #77797e;
}

/* lnb shirinked */
.lnb.isShrink + #content .box-chat-input-wrapper {
  left: 110px;
}

.chat-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.chat-line.chat-line__question {
  justify-content: flex-end;
}
.chat-line__question .chat-question__balloon {
  padding: 16px 20px;
  border-radius: 16px;
  border-bottom-right-radius: 4px;
  background-color: var(--gray-800);
  color: var(--gray-0);
  font: var(--body-md);
  max-width: calc(100% - 60px);
  /* flex: 1; */
}
.chat-line__question .chat-question__balloon--edit {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--gray-0);
  max-width: 100%;
  width: calc(100% - 60px);
}
.chat-line__question .chat-question__balloon--edit .btn-group {
  justify-content: flex-end;
}
.chat-question__atttach {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}
.chat-line__question .input {
  width: 100%;
}
.chat-question__atttach .chat-chip__file {
  padding: 4px 8px 4px 6px;
  border-color: var(--gray-0);
  box-shadow: 2px 2px 10px #22617b14;
}

/* answer */
.chat-line.chat-line__answer {
  padding-block: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chat-line.chat-line__answer .chat-answer {
  font: var(--sub-md-md);
  color: var(--gray-900);
}
.chat-line.chat-line__answer .chat-answer__pending {
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--body-sm);
  color: var(--primary-500);
}
.chat-line.chat-line__answer .chat-answer__pending .icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
}
.chat-line.chat-line__answer .chat-answer__resource {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 20px;
  border-radius: 16px;
  background-color: var(--gray-200);
  width: 100%;
}
.chat-line.chat-line__answer .chat-answer__resource.resource__single {
  width: 50%;
}
.chat-line.chat-line__answer .chat-answer__resource .chat-resource__title {
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--body-md);
  color: var(--gray-800);
  font-weight: 700;
}
.chat-line.chat-line__answer
  .chat-answer__resource
  .chat-resource__title
  .icon {
  width: 28px;
  height: 28px;
}

.chat-line.chat-line__answer .chat-question__atttach {
  justify-content: flex-start;
}
.chat-resource__list {
  --grid-column: 3;
  display: grid;
  grid-template-columns: repeat(var(--grid-column), 1fr);
  gap: 12px;
  flex: 1;
}
.chat-resource__button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: var(--gray-0);
  cursor: pointer;
}
.chat-resource__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.chat-resource__detail dt {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--gray-800);
}
.chat-resource__detail dd {
  font-size: 13px;
  line-height: 18px;
  color: var(--gray-400);
}

/* model select */
.chat-model__wrapper {
  position: absolute;
  left: 0;
  bottom: calc(100% + 8px);
  padding: 8px;
  background: var(--gray-0);
  border-radius: 20px;
  box-shadow: 0 0 10px #1713461a;
  z-index: 100;
  display: none;
}

.chat-model__wrapper--version {
  left: calc(200px + 16px + 16px); /* 버튼 너비 + 패딩 양쪽 + 간격 */
  bottom: auto;
  top: 0; /* JavaScript에서 동적으로 조정됨 */
}

.model-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.model-list__button {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.15s ease-in;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--gray-800);
  background-color: var(--gray-0);
}
.model-list__button:hover {
  background-color: var(--gray-100);
  color: var(--gray-700);
}
.model-list__button.model-list__button--selected {
  background-color: var(--primary-100);
}
.model-list__button.model-list__button--selected:hover {
  background-color: var(--primary-200);
}
.model-version-list .model-list__button {
  font-weight: 400;
}
.model-version-list .icon--dropdown-check {
  color: var(--primary-700);
}
