/* ========================================
 * Icons Component Styles
 * ======================================== */

.icon {
  display: inline-flex;
  flex-shrink: 0;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  /* 사파리 필수(-webkit- 프리픽스) */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

/* Icon Sizes */
.icon.icon--small {
  width: 16px;
  height: 16px;
}

.icon.icon--medium {
  width: 20px;
  height: 20px;
}

.icon.icon--large {
  width: 24px;
  height: 24px;
}

.icon.icon--xlarge {
  width: 32px;
  height: 32px;
}

/* ========================================
 * Icon Name Modifiers
 * .icon.icon-[name] -> ../images/icon_[name].png
 * ======================================== */
.icon[class*="icon-"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* File Icon (배경 이미지 사용) */
.icon[class*="icon--file"],
.icon[class*="icon--msg"] {
  mask: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

/* File Type Icons */
.icon.icon--file-attatch {
  background-image: url(../../images/icon_file_attatch.png);
}
.icon.icon--file-ppt {
  background-image: url(../../images/icon_file_ppt.png);
}
.icon.icon--file-outlook {
  background-image: url(../../images/icon_file_outlook.png);
}
.icon.icon--file-html {
  background-image: url(../../images/icon_file_html.png);
}
.icon.icon--file-pdf {
  background-image: url(../../images/icon_file_pdf.png);
}
.icon.icon--file-text {
  background-image: url(../../images/icon_file_text.png);
}
.icon.icon--file-image {
  background-image: url(../../images/icon_file_image.png);
}
.icon.icon--file-hangul {
  background-image: url(../../images/icon_file_hangul.png);
}
.icon.icon--file-excel {
  background-image: url(../../images/icon_file_excel.png);
}
.icon.icon--file-word {
  background-image: url(../../images/icon_file_word.png);
}
.icon.icon--file-tool {
  background-image: url(../../images/icon_file_tool.png);
}
.icon.icon--file-zip {
  background-image: url(../../images/icon_file_zip.png);
}
.icon.icon--file-default {
  background-image: url(../../images/icon_file_tool.png);
}
.icon.icon--file-doc {
  background-image: url(../../images/icon_file_word.png);
}
.icon.icon--file-xls {
  background-image: url(../../images/icon_file_excel.png);
}

/* Arrow Icons */
.icon.icon--arrow-right {
  mask-image: url(../../images/icon_arrow_right.png);
}
.icon.icon--arrow-left {
  mask-image: url(../../images/icon_arrow_left.png);
}
.icon.icon--arrow-up {
  mask-image: url(../../images/icon_arrow_up.png);
}
.icon.icon--arrow-down {
  mask-image: url(../../images/icon_arrow_down.png);
}
.icon.icon--arrow-right-double {
  mask-image: url(../../images/icon_arrow_right_double.png);
}
.icon.icon--arrow-left-double {
  mask-image: url(../../images/icon_arrow_left_double.png);
}
.icon.icon--arrow-down-small {
  mask-image: url(../../images/icon_arrow_down_small.png);
}
.icon.icon--arrow-up-small {
  mask-image: url(../../images/icon_arrow_up_small.png);
}
.icon.icon--arrow-back {
  mask-image: url(../../images/icon_arrow_back.png);
}
.icon.icon--arrow-back-end {
  mask-image: url(../../images/icon_arrow_back_end.png);
}
.icon.icon--arrow-foward {
  mask-image: url(../../images/icon_arrow_foward.png);
}
.icon.icon--arrow-foward-end {
  mask-image: url(../../images/icon_arrow_foward_end.png);
}

/* Common UI Icons */
.icon.icon--addpjt {
  mask-image: url(../../images/icon_addpjt.png);
}
.icon.icon--calendar {
  mask-image: url(../../images/icon_calendar.png);
}
.icon.icon--close {
  mask-image: url(../../images/icon_close.png);
}
.icon.icon--check {
  mask-image: url(../../images/icon_check.png);
}
.icon.icon--check-default {
  mask-image: url(../../images/icon_check_default.png);
}
.icon.icon--check-primary {
  mask-image: url(../../images/icon_check_primary.png);
}
.icon.icon--plus {
  mask-image: url(../../images/icon_plus.png);
}
.icon.icon--minus {
  mask-image: url(../../images/icon_minus.png);
}
.icon.icon--search {
  mask-image: url(../../images/icon_search.png);
}
.icon.icon--edit {
  mask-image: url(../../images/icon_edit.png);
}
.icon.icon--edit-chip {
  mask-image: url(../../images/icon_edit_chip.png);
}
.icon.icon--delete {
  mask-image: url(../../images/icon_delete.png);
}
.icon.icon--lnb {
  mask-image: url(../../images/icon_lnb.png);
}
.icon.icon--lock {
  mask-image: url(../../images/icon_lock.png);
}
.icon.icon--trash {
  mask-image: url(../../images/icon_trash.png);
}
.icon.icon--settings {
  mask-image: url(../../images/icon_settings.png);
}
.icon.icon--more {
  mask-image: url(../../images/icon_more.png);
}
.icon.icon--move {
  mask-image: url(../../images/icon_move.png);
}
.icon.icon--play {
  mask-image: url(../../images/icon_play.png);
}
.icon.icon--send {
  mask-image: url(../../images/icon_send.png);
}
.icon.icon--save {
  mask-image: url(../../images/icon_save.png);
}
.icon.icon--eye {
  mask-image: url(../../images/icon_eye.png);
}

/* Info / Status Icons */
.icon.icon--info-circle {
  mask-image: url(../../images/icon_info_circle.png);
}
.icon.icon--info {
  mask-image: url(../../images/icon_Info.png);
}
.icon.icon--security {
  mask-image: url(../../images/icon_security.png);
}
.icon.icon--key {
  mask-image: url(../../images/icon_key.png);
}

/* Message Icons */
.icon.icon--msg-confirm {
  background-image: url(../../images/icon_msg_confirm.png);
}
.icon.icon--msg-confirm-in {
  background-image: url(../../images/icon_msg_confirm_in.png);
}
.icon.icon--msg-error {
  background-image: url(../../images/icon_msg_error.png);
}
.icon.icon--msg-info {
  background-image: url(../../images/icon_msg_info.png);
}
.icon.icon--msg-success {
  background-image: url(../../images/icon_msg_success.png);
}
.icon.icon--msg-warning {
  background-image: url(../../images/icon_msg_warning.png);
}

/* Dropdown Icons */
.icon.icon--dropdown-arrow {
  mask-image: url(../../images/icon_dropdown_arrow.png);
}
.icon.icon--dropdown-check {
  mask-image: url(../../images/icon_dropdown_check.png);
}
.icon.icon--chevron-down {
  mask-image: url(../../images/icon_chevron_down.png);
}
.icon.icon--chevron-up {
  mask-image: url(../../images/icon_chevron_up.png);
}
.icon.icon--chevron-left {
  mask-image: url(../../images/icon_chevron_left.png);
}
.icon.icon--chevron-right {
  mask-image: url(../../images/icon_chevron_right.png);
}

/* App Specific Icons */
.icon.icon--dashboard {
  mask-image: url(../../images/icon_dashboard.png);
}
.icon.icon--code {
  mask-image: url(../../images/icon_code.png);
}
.icon.icon--chart {
  mask-image: url(../../images/icon_chart.png);
}
.icon.icon--user {
  mask-image: url(../../images/icon_member.png);
}
.icon.icon--members {
  mask-image: url(../../images/icon_members.png);
}
.icon.icon--premium {
  mask-image: url(../../images/icon_premium.png);
}
.icon.icon--docbased {
  mask-image: url(../../images/icon_filebased.png);
}
.icon.icon--webbased {
  mask-image: url(../../images/icon_webbased.png);
}
.icon.icon--api-history {
  mask-image: url(../../images/icon_api_history.png);
}
.icon.icon--aI-talk {
  mask-image: url(../../images/icon_aI_talk.png);
}
.icon.icon--attached {
  mask-image: url(../../images/icon_attached.png);
}
.icon.icon--upload {
  mask-image: url(../../images/icon_attached.png);
}
.icon.icon--expanding {
  mask-image: url(../../images/icon_expanding.png);
}
.icon.icon--folding {
  mask-image: url(../../images/icon_folding.png);
}
.icon.icon--rag-add {
  mask-image: url(../../images/icon_rag_add.png);
}
.icon.icon--rag-card {
  background-image: url(../../images/icon_rag_card.png);
  background-color: transparent;
}
.icon.icon--rag-security {
  mask-image: url(../../images/icon_rag_security.png);
}
.icon.icon--copy {
  mask-image: url(../../images/icon_copy.png);
}
.icon.icon--good {
  mask-image: url(../../images/icon_good.png);
}
.icon.icon--bad {
  mask-image: url(../../images/icon_bad.png);
}
.icon.icon--refresh {
  mask-image: url(../../images/icon_refresh.png);
}
.icon.icon--pending {
  background-image: url(../../images/icon_pending.png);
}
.icon.icon--chat-edit {
  mask-image: url(../../images/icon_chat_edit.png);
}
.icon.icon--dictionary {
  mask-image: url(../../images/icon_dictionary.png);
}
.icon.icon--download {
  mask-image: url(../../images/icon_download.png);
}
.icon.icon--external {
  mask-image: url(../../images/icon_external.png);
}

